body {
  background: rgb(167, 167, 204);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.box {
  background: lavender;
  border-radius: 50px;
  border: double solid blue 5px;
  padding: 20px;
  position: relative;
  top: 100px;
  width: 600px;
  margin: 0 auto;
  display: block;
  box-shadow: rgb(145, 136, 136) 2px 5px 2px;
}
h1 {
  color: blue;
  text-align: center;
  font-size: 50px;
}
form {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.search {
  font-size: 15px;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: solid rgb(49, 0, 128) 2px;
}
.enter {
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border: solid rgb(49, 0, 128) 2px;
}
.enter:hover {
  background: blue;
  color: white;
  transition: all 200ms ease-in-out;
}
a:hover {
  color: red;
}
footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}
.quote {
  margin: 0 auto;
  display: block;
  background: lavender;
  border-radius: 50px;
  border: double solid blue 5px;
  padding: 20px;
  position: relative;
  top: 150px;
  width: 600px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  box-shadow: rgb(145, 136, 136) 2px 5px 2px;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
p {
  font-size: 15px;
  color: grey;
  margin: 0 auto;
  display: block;
  text-align: center;
}
